svg#restructuring-piece-project-diagram text
{
  font-family: Helvetica;
  fill-opacity: 1;
  fill: black;
  stroke: none;
}

svg#restructuring-piece-project-diagram .node
{
}

svg#restructuring-piece-project-diagram .node circle
{
/*  fill: white;
  fill-opacity: 0.5;*/
  stroke: black;
  scroke-width: 2;
}

svg#restructuring-piece-project-diagram .node circle.piece
{
  fill: #FF0066;
  stroke: #FF0066;
}

svg#restructuring-piece-project-diagram .node circle.software
{
  fill: limegreen;
  stroke: limegreen;
}

svg#restructuring-piece-project-diagram .node circle.framework
{
  fill: darkgreen;
  stroke: darkgreen;
}

svg#restructuring-piece-project-diagram .node circle.concept
{
  fill: blue;
  stroke: blue;
}

svg#restructuring-piece-project-diagram .link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

button#conceptual,
button#temporal,
button#technological,
button#aesthetic,
button#draggable
{
  border: none;
  color: white;
  background-color: black;
}

svg#restructuring-piece-project-diagram div.piece
{
  background-color: #FF0066;
}

svg#restructuring-piece-project-diagram div.software
{
  background-color: limegreen;
}

svg#restructuring-piece-project-diagram div.framework
{
  background-color: darkgreen;
}

svg#restructuring-piece-project-diagram div.concept
{
  background-color: blue;
}

div#metadata_container {
    width: 400px;
    display: none;
    position: absolute;
    background-color: rgba(50, 205, 50, 0.9);
    padding: 10px;
    border: 1px solid rgba(50, 205, 50, 1);
    border-radius: 10px;
}

div#metadata h2 {
    margin-top: 10px;
}

div#metadata img {
    padding: 5px;
    float: left;
}

div#metadata_connections {
    clear: both;
}
