#tag_cloud #results {
  width: 550px;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

#tag_cloud #results li {
  list-style-type: none;
  font-family: Monaco, sans-serif;
}

#tag_cloud span.tag {
  cursor: pointer;
}
