#springy-menu .link {
  stroke: #999;
}
#springy-menu g.node text {
  font-family: Helvetica;
}
#springy-menu g.node text.subtitle {
  font-size: 0.7em;
}
#springy-menu g.node circle {
  fill: #FF0066;
  fill-opacity: 0.8;
  stroke: black;
  stroke-width: 2;
}
